#header{
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 50%;
  @include transform(translateX(-50%));
  &.header-in-grid{
    max-width: $grid-width;
    @include breakpoint($md){
      width: 80%;
    }
  }
}

.header-inner{
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: $grid-width;
  position: relative;  
  @include breakpoint($mdl){
    padding: 0 40px;
    @include display-flex;
    @include align-items(stretch);
    @include justify-content(space-between);
    @include flex-wrap(nowrap);
  }
}

.site-logo{
  width: 100%;
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include breakpoint($mdl){
    @include flex(0,1,auto);
  }
  a{
    @include flex(1,1,auto);
    display: block; 
    margin: 0 auto;
    width: 100%;
  }
}

img.site-main-logo{
  display: none;  
}

#header .menu-container{
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  @include breakpoint($mdl){
    @include flex(0,1,auto); 
    overflow: hidden;
    width: auto;  
    display: block;
    position: relative;
    top: auto;
    left: auto;
    &.hidden-menu{
      margin-right: 100px;
      ul.menu{
        @include transform(translateX(100%));
        &.active{
          @include transform(translateX(0));
        }
      }
    }
  }
}

.menu-button-area{
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 1000;
  cursor: pointer;
  @include transform(translateY(-50%)); 
  @include breakpoint($mdl){
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);  
    @include flex-wrap(nowrap);
    .menu-button, .menu-button-txt{
      @include flex(0,1,auto); 
    }
    .menu-button-txt{
      padding-left: 10px; 
    }
    &.hide_button{
      display: none;
    }
  }
  @include breakpoint($mdl){
    right: 0;
  } 
}

.page-header{
  position: relative;
  @include breakpoint($lrg){
   min-height: 400px;
  }  
}

.page-header-inner{
  width: 100%;
  max-width: $grid-width;
  margin: 0 auto;
  padding: 40px 20px;
  min-height: 50vh;
  @include breakpoint($md){
   width: 80%;
   padding: 60px 0px;
  }
}

.header-block{
  @include flex(0,1,auto); 
}

#side-menu{
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  @include display-flex;
  @include flex-direction(column);
  @include align-items(stretch);
  @include justify-content(space-around);
  @include transition (all ease-in-out 0.3s);
  &.left-menu{
    left: 0;
    @include transform(translateX(-100%));
    &.active{
      @include transform(translateX(0));
    }
  }
  &.right-menu{
    right: 0;
    @include transform(translateX(100%));
    &.active{
      @include transform(translateX(0));
    }
  }
  @include breakpoint($md){
    width: 300px;
  }
  @include breakpoint($mdl){
    &.left-menu, &.left-menu.hidden-menu.active, &.right-menu, &.right-menu.hidden-menu.active{
      @include transform(translateX(0));
    }
    &.left-menu.hidden-menu{
      @include transform(translateX(-100%));
    }
    &.right-menu.hidden-menu{
      @include transform(translateX(100%));
    }
  }
  > div{
    @include flex(0,1,auto);
  }
  .menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .site-logo a{
    min-height:  100px;
  }
}

#header-widgets{
  display: none;
  @include breakpoint($md){
    @include display-flex;
    @include flex-wrap(nowrap);
    @include align-items(center);
    > div{
      @include flex(0,1,auto);
    }
  }
}