html{
  overflow-x: hidden !important;
}

body.admin-bar{
  padding-top: 46px;
  @include breakpoint($mdl){
    padding-top: 32px;
  }
}

#wrapper{
  position: relative;  
}

#content-wrapper{
  position: relative; 
  &.has-left-menu{
    @include breakpoint($mdl){
      margin-left: 300px;
    }
  }
  &.has-right-menu{
    @include breakpoint($mdl){
      margin-right: 300px;
    }
  }
}

#content-bottom{
  width: 100%;
  padding:20px;
}